<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>292311751605-q1a3kd7u62ufrch72epqv4u93q310fqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292311751605-q1a3kd7u62ufrch72epqv4u93q310fqc</string>
	<key>API_KEY</key>
	<string>AIzaSyDrYG-PRCy0IB6XoALuTdgptu7xch4x1hk</string>
	<key>GCM_SENDER_ID</key>
	<string>292311751605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartfuture.-BOXHOST</string>
	<key>PROJECT_ID</key>
	<string>boxhost-d6cf2</string>
	<key>STORAGE_BUCKET</key>
	<string>boxhost-d6cf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292311751605:ios:b0477bbfaf8ef7a3</string>
	<key>DATABASE_URL</key>
	<string>https://boxhost-d6cf2.firebaseio.com</string>
</dict>
</plist>